script(type='text/ng-template', id='partials/options.social.leaderboards.html')
  if (env.FEATURES_CONFIG.GAME.LEADERBOARDS.MENU !== "false")
    ul.options-submenu(ng-if="!challengeDetail")
      li(ng-class="{ active: '!cid' }")
        a(href='/#/options/groups/leaderboards')=env.t('home')
      li(ng-class="{ active: 'cid === leaderBoardId' }", ng-repeat='leaderBoard in leaderboards')
        a(href='/#/options/groups/leaderboard/{{::leaderBoard.id}}') {{::leaderBoard.title}}

  .table-responsive
    table.table.table-striped
      thead
        tr
          th
          th=env.t('name')
          th=env.t('score')
          th=env.t('rank')
      tbody
        tr(ng-repeat='profile in rankedUsers')
          td
            +herobox()
          td
            span(ng-if='profile.contributor.admin',popover=env.t('gamemaster'),popover-trigger='mouseenter',popover-placement='right')
              a.label.label-default(ng-class='userLevelStyle(user)', ng-click='clickMember(profile._id, true)')
                | {{profile.profile.name}}&nbsp;
                span(ng-class='userAdminGlyphiconStyle(user)')
            span(ng-if='!profile.contributor.admin')
              a.label.label-default(ng-class='userLevelStyle(user)', ng-click='clickMember(profile._id, true)') {{profile.profile.name}}
          td(ng-if='!cid') {{profile.stats.score.overall}}
          td(ng-if='cid') {{profile.stats.score[cid]}}
          td {{profile.rank}}
