script(type='text/ng-template', id='partials/options.social.leaderboards.html')
  .table-responsive
    table.table.table-striped
      thead
        tr
          th=env.t('name')
          th(ng-if='user.contributor.admin')=env.t('UUID')
          th=env.t('contribLevel')
          th=env.t('title')
          th=env.t('contributions')
      tbody
        tr(ng-repeat='hero in heroes')
          td
            span(ng-if='hero.contributor.admin',popover=env.t('gamemaster'),popover-trigger='mouseenter',popover-placement='right')
              a.label.label-default(ng-class='userLevelStyle(hero)', ng-click='clickMember(hero._id, true)')
                | {{hero.profile.name}}&nbsp;
                span(ng-class='userAdminGlyphiconStyle(hero)')
            span(ng-if='!hero.contributor.admin')
              a.label.label-default(ng-class='userLevelStyle(hero)', ng-click='clickMember(hero._id, true)') {{hero.profile.name}}
          td(ng-if='user.contributor.admin', ng-click='populateContributorInput(hero._id, $index)').btn-link {{hero._id}}
          td {{hero.contributor.level}}
          td {{hero.contributor.text}}
          td
            markdown(text='hero.contributor.contributions', target='_blank')
