script(id='modals/change-password.html', type='text/ng-template')
  .modal-header
    h4 Change Password
  .modal-body
    h5=env.t('changePass')
    form(ng-submit='changeUser("password", passwordUpdates)', ng-show='user.auth.local', name='changePassword', novalidate)
      .form-group
        input.form-control(type='password', placeholder=env.t('oldPass'), ng-model='passwordUpdates.password', required)
      .form-group
        input.form-control(type='password', placeholder=env.t('newPass'), ng-model='passwordUpdates.newPassword', required)
      .form-group
        input.form-control(type='password', placeholder=env.t('confirmPass'), ng-model='passwordUpdates.confirmPassword', required)
      input.btn.btn-default(type='submit', ng-disabled='changePassword.$invalid', value=env.t('submit'))

  .modal-footer
    //- .btn.btn-default(ng-click='Payments.amazonPayments.reset()')=env.t('cancel')
    //- .btn.btn-primary(ng-disabled="!Payments.amazonPayments.canCheckout()", ng-click="Payments.amazonPayments.checkout()")=env.t('checkout')
