div(ng-init='Analytics.track({"hitType":"pageview","eventCategory":"page","eventAction":"landing page","page":"/static/front"});')
  header#header
    nav.navbar.navbar-default.navbar-static-top
      .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img.img-rendering-auto(src='https://s3.amazonaws.com/habitica-assets/assets/enterprise/ComEd/ComEd_poweringliveslogo_PowerUpJD.png', alt=env.t('altAttrNavLogo'))
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            //- li
            //-   a(href='/static/features')=env.t('companyAbout')
            //- li
            //-   a(href='/static/plans')=env.t('groupPlans')
            //- li
            //-   a(href='https://habitica.wordpress.com/')=env.t('companyBlog')
            //- li
            //-   a(href='http://blog.habitrpg.com/')=env.t('tumblr')
            //- li
            //-   a(href='/static/press-kit')=env.t('presskit')
            //- li
            //-   a(href='/static/contact')=env.t('contactUs')
            //- li
            //-   button#header-play-button.btn.btn-primary.navbar-btn.navbar-right(ng-click='playButtonClick()') Enter PowerUpJD
  
  #intro
    //- h1 Let's Power Up JD!
    //- img.img-rendering-auto.center-block.img-responsive(
    //-   src='https://s3.amazonaws.com/habitica-assets/assets/enterprise/ComEd/Powering%2BUp%2BJD%2BLockup_game%2Bfile.png', alt='', style='margin-bottom:4rem;')
    //- //- The empty alt attribute isn't a mistake, it's part of the spec for purely decorative images that add no information
    //- // insert intro images
    //- .introcall.bg-success(style="padding: 2rem;")
    //-   .row
    //-     .col-md-6.col-md-offset-3
    //-       h4 Join your fellow ComEd employees in raising our J.D. Power scores, together!
    //-     .col-md-3
    //-       span Site Powered By 
    //-       br
    //-       img(src='https://d2afqr2xdmyzvu.cloudfront.net/assets/habitica_lockup2_desat.png' width='100px')
    
    
    h1 Thank you for participating in PowerUp JD! 
    h3 From
    img.img-rendering-auto.center-block.img-responsive(
      src='https://s3.amazonaws.com/habitica-assets/assets/enterprise/ComEd/Powering%2BUp%2BJD%2BLockup_game%2Bfile.png', alt='', 
      style='margin-bottom:4rem;width:300px')
    h3 and
    img.img-rendering-auto.center-block.img-responsive(
      src='https://d2afqr2xdmyzvu.cloudfront.net/assets/habitica_lockup2_desat.png', alt='', 
      style='margin-bottom:4rem;width:300px')
    //- The empty alt attribute isn't a mistake, it's part of the spec for purely decorative images that add no information
    // insert intro images
    .introcall.bg-success(style="padding: 2rem;")
      .row
        .col-md-6.col-md-offset-3
          h4 
            | If you enjoyed playing the PowerUp JD game and would like to try out Habitica, the game-like productivity app it was based on, please check it out at 
            a(href='https://habitica.com') https://habitica.com 
            | or on iOS and Android devices.
          a#header-play-button.btn.btn-primary(href='https://habitica.com') Enter Habitica
        .col-md-3
          span Site Powered By 
          br
          img(src='https://d2afqr2xdmyzvu.cloudfront.net/assets/habitica_lockup2_desat.png' width='100px')
    
    //- .presslogos.text-center.img-rendering-auto
    //-   = env.t('featuredIn')
    //-   br
    //-   img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/lifehacker.png', alt=env.t('altAttrLifehacker'))
    //-   img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/nyt-logo.png', alt=env.t('altAttrNewYorkTimes'))
    //-   img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/makeuseof.png', alt=env.t('altAttrMakeUseOf'))
    //-   img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/Forbes_logo.png', alt=env.t('altAttrForbes'))
    //-   img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/Cnetlogo.png', alt=env.t('altAttrCnet'))
    //-   img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/Fast-Company-logo.png', alt=env.t('altAttrFastCompany'))
    //-   img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/kickstarter-logo.png', alt=env.t('altAttrKickstarter'))
    //-   img(src='https://d2afqr2xdmyzvu.cloudfront.net/front/images/presslogos/discover-logo.png', alt=env.t('altAttrDiscover'))

  //- #intro-text
  //-   .container-fluid
  //-     .row
  //-       .col-md-8.col-md-offset-2
  //-         p.lead.text-center
  //-           = env.t('leadText')
